
#my-carousel{
    height: 400px;
}
#my-carousel .carousel-item img{
   
    height: 400px;
    object-fit: cover;
}
.card.ab:hover{
    transform: scale(1.10);
}
.card.ab{
    translate: 0.3s ease;

}

.card:hover{
    transform: scale(1.19);
}
.card{
    transition: 0.4s ease;
    
}
.card-body{
    position: absolute;
    z-index: 10;
   bottom: 0;
  transform: translateY(100%);
    background-color: rgba(255, 255, 255, 0.975);
    transition: 0.3s;
    margin: 0;
    padding: 0;
}
.col:hover .card-body{
   
     transform: translateY(0%);
   /* z-index: 10;*/
}
.img:hover{
    transition: 0.4s ease;
   transform: scale(1.19);
}
.eg:hover{
    transform: scale(0.8);
    transition: 0.2s ease;
}
.whatsapp{
    position: fixed;
    bottom: 40px;
    right: 20px;

}
.cust span{
    background: white;
    display: inline-block;
    padding: .6rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 6% 50%, 0% 0%);

}
.service span{
    background: white;
    display: inline-block;
    padding: .6rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 6% 50%, 0% 0%);


}